@import "tailwindcss";

/* Default light theme variables */
:root {
  --background: #f9fafb;
  --foreground: #171717;
  --text: #6e7583;
  --logo: #067b56;
  --logo-hover: #ffffff;
  --navbar: #f4f4f4;
  --section: #ededed;
}

/* Dark theme variables */
.dark {
  --background: #161616;
  --foreground: #ededed;
  --text: #ffffff;
  --logo: #ffffff;
  --logo-hover: #067b56;
  --navbar: #000000;
  --section: #111111;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #067b56;
  --color-logo: var(--logo);
  --color-logo-hover: var(--logo-hover);
  --color-navbar: var(--navbar);
  --color-text: var(--text);
  --color-section: var(--section);
}

/* ONLY set background on body, remove color so Tailwind works */
body {
  background: var(--background);
  font-family: "Space Grotesk", sans-serif;
}

/* Force black in light mode for specific elements (like link) */
.text-black-important {
  color: #000 !important;
}









@keyframes rotateCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes counterRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.spiner {
  animation: rotateCircle 40s linear infinite;
}

.spiner > div > div {
  animation: counterRotate 40s linear infinite;
}


.spiner-icon-bg {
  background-image: linear-gradient(to bottom, #ffffff, #9b9b9b);
}
.custom-icon-color {
  color: #000;
}

.dark .spiner-icon-bg {
  background-image: linear-gradient(to bottom, #545454, #000000);
}
.dark .custom-icon-color {
  color: #ffffff;
}

