@import "tailwindcss";

/* Default light theme variables */
:root {
  --background: #f9fafb;
  --foreground: #171717;
  --text: #6e7583;
  --logo: #067b56;
  --logo-hover: #ffffff;
  --navbar: #f4f4f4;
  --section: #ededed;
}

/* Dark theme variables */
.dark {
  --background: #161616;
  --foreground: #ededed;
  --text: #ffffff;
  --logo: #ffffff;
  --logo-hover: #067b56;
  --navbar: #000000;
  --section: #000000;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #067b56;
  --color-logo: var(--logo);
  --color-logo-hover: var(--logo-hover);
  --color-navbar: var(--navbar);
  --color-text: var(--text);
  --color-section: var(--section);
}

/* ONLY set background on body, remove color so Tailwind works */
body {
  background: var(--background);
  font-family: "Space Grotesk", sans-serif;
}

/* Force black in light mode for specific elements (like link) */
.text-black-important {
  color: #000 !important;
}









@keyframes rotateCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes counterRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.spiner {
  animation: rotateCircle 40s linear infinite;
}

.spiner > div > div {
  animation: counterRotate 40s linear infinite;
}


.spiner-icon-bg {
  background-image: linear-gradient(to bottom, #ffffff, #9b9b9b);
}
.custom-icon-color {
  color: #000;
}

.dark .spiner-icon-bg {
  background-image: linear-gradient(to bottom, #545454, #000000);
}
.dark .custom-icon-color {
  color: #ffffff;
}



/* falling stars  */
.star-section>span {
  box-shadow:
    0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1),
    0 0 20px rgb(255, 255, 255);

  animation: animateStar linear infinite;
}

.star-section>span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 300px;
  height: 2px;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #ffffff, transparent);
}

@keyframes animateStar {
  0% {
    transform: rotate(90deg) translateX(0);
  }

  100% {
    transform: rotate(90deg) translateX(-1000px);
  }
}





@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes counterRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
